@charset "UTF-8";
/*-----------------------------------------------
Règles générales
-----------------------------------------------*/
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

/*-----------------------------------------------
Polices 
-----------------------------------------------*/
.header h1,
.footer a,
.restaurant-title,
.btn-soon p {
  font-family: 'Montserrat', Arial, sans-serif;
}

.menu1 {
  font-family: 'Kalam', cursive;
}

.menu1 h3, .menu1__footer p {
  font-family: 'Caveat Brush', cursive;
}

.menu2 {
  font-family: 'Playfair Display', serif;
}

.menu2 h3 {
  font-family: 'Amita', cursive;
}

.menu3 {
  font-family: 'Kalam', cursive;
}

.menu3 h3 {
  font-family: 'Dancing Script', cursive;
}

/*-----------------------------------------------
Header général 
-----------------------------------------------*/
.header {
  height: 80px;
  text-align: center;
  background-color: #579c87;
}

.header h1 {
  margin: 0px;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -5px;
  line-height: 80px;
}

/*-----------------------------------------------
Footer général avec effet wiggle sur les liens
-----------------------------------------------*/
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #579c87;
}

.footer a {
  margin: auto 30px;
  font-weight: 600;
  font-size: 1.2em;
}

.footer a:hover {
  -webkit-animation: wiggle 150ms infinite;
          animation: wiggle 150ms infinite;
}

@-webkit-keyframes wiggle {
  25% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  75% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

@keyframes wiggle {
  25% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  75% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

/*-----------------------------------------------
Block conteneur général
-----------------------------------------------*/
.container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 90px;
}

/*-----------------------------------------------
Page d'accueil
-----------------------------------------------*/
.restos {
  width: 60%;
  margin: 0px auto 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.restos__anim {
  width: 35%;
  margin: 20px;
  -webkit-box-shadow: 1px 1px 7px silver;
          box-shadow: 1px 1px 7px silver;
  overflow: hidden;
}

.restos__anim img {
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.restos__anim img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 0.6;
}

.btn-soon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 25%;
  height: 45px;
  margin: 30px auto 0px auto;
  text-align: center;
  border-radius: 10px;
  background-color: #579c87;
  color: #fdcb46;
}

.btn-soon p {
  font-weight: 600;
  font-size: 1.6em;
}

.btn-soon .load {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 20%;
  height: 20px;
  margin-left: 15px;
}

.btn-soon .load__point {
  width: 10px;
  height: 10px;
  background-color: #fdcb46;
  -webkit-animation: point 1.3s infinite;
          animation: point 1.3s infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.btn-soon .load__point--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.btn-soon .load__point--2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.btn-soon .load__point--3 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes point {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes point {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=index.css.map */