@charset "UTF-8";
/*-----------------------------------------------
Règles générales
-----------------------------------------------*/
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: #fdcb46;
}

/*-----------------------------------------------
Polices 
-----------------------------------------------*/
.header h1,
.footer a,
.restaurant-title,
.btn-soon p {
  font-family: 'Montserrat', Arial, sans-serif;
}

.menu1 {
  font-family: 'Kalam', cursive;
}

.menu1 h3, .menu1__footer p {
  font-family: 'Caveat Brush', cursive;
}

.menu2 {
  font-family: 'Playfair Display', serif;
}

.menu2 h3 {
  font-family: 'Amita', cursive;
}

.menu3 {
  font-family: 'Kalam', cursive;
}

.menu3 h3 {
  font-family: 'Dancing Script', cursive;
}

/*-----------------------------------------------
Header général 
-----------------------------------------------*/
.header {
  height: 80px;
  text-align: center;
  background-color: #579c87;
}

.header h1 {
  margin: 0px;
  font-size: 3em;
  font-weight: 900;
  letter-spacing: -5px;
  line-height: 80px;
}

/*-----------------------------------------------
Footer général avec effet wiggle sur les liens
-----------------------------------------------*/
.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #579c87;
}

.footer a {
  margin: auto 30px;
  font-weight: 600;
  font-size: 1.2em;
}

.footer a:hover {
  -webkit-animation: wiggle 150ms infinite;
          animation: wiggle 150ms infinite;
}

@-webkit-keyframes wiggle {
  25% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  75% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

@keyframes wiggle {
  25% {
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
  75% {
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }
}

/*-----------------------------------------------
Block conteneur général
-----------------------------------------------*/
.container {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 90px;
}

/*-----------------------------------------------
Structure générale des pages de menus
-----------------------------------------------*/
.restaurant-title {
  text-align: center;
  margin-top: 45px;
}

.menu {
  width: 45%;
  margin: 20px auto 0px auto;
  -webkit-box-shadow: 1px 1px 7px silver;
          box-shadow: 1px 1px 7px silver;
}

.menu__header {
  text-align: center;
}

.section-menu {
  margin-bottom: 50px;
}

.section-menu__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-menu__header .svg {
  width: 30%;
}

.section-menu__header h4 {
  font-size: 1.1em;
}

.section-menu__contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-menu__contain .description {
  font-size: 0.9em;
  line-height: 20px;
}

.section-menu__contain .prix {
  font-weight: 500;
  font-size: 1.1em;
  line-height: 13px;
}

/*-----------------------------------------------
Troisième menu
-----------------------------------------------*/
.menu3 {
  background-color: #edefef;
  color: #000000;
  padding: 30px 20px 40px 20px;
}

.menu3 h3 {
  font-weight: 500;
  font-size: 2.5em;
  background: -webkit-gradient(linear, left top, right top, from(#0228dd), color-stop(#0670f3), to(#229df9));
  background: linear-gradient(to right, #0228dd, #0670f3, #229df9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.menu3 h4 {
  font-weight: 400;
}

.menu3__entree .underline {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), to(#0228dd));
  background-image: linear-gradient(180deg, transparent 80%, #0228dd);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 200ms ease-out;
  transition: background-size 200ms ease-out;
}

.menu3__entree .underline:hover {
  background-size: 100% 100%;
  cursor: default;
}

.menu3__plat .underline {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), to(#0670f3));
  background-image: linear-gradient(180deg, transparent 80%, #0670f3);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 200ms ease-out;
  transition: background-size 200ms ease-out;
}

.menu3__plat .underline:hover {
  background-size: 100% 100%;
  cursor: default;
}

.menu3__dessert .underline {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(80%, transparent), to(#229df9));
  background-image: linear-gradient(180deg, transparent 80%, #229df9);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-transition: background-size 200ms ease-out;
  transition: background-size 200ms ease-out;
}

.menu3__dessert .underline:hover {
  background-size: 100% 100%;
  cursor: default;
}

.section-menu__contain {
  margin-left: 35px;
  margin-right: 35px;
}
/*# sourceMappingURL=menu3.css.map */