/*-----------------------------------------------
Page des mentions légales
-----------------------------------------------*/

.container img {
    display: block;
    width: 40%;
    margin: 0px auto 0px auto;

    @include xl {
        width: 50%;
    }

    @include lg {
        width: 60%;
    }

    @include md {
        width: 70%;
    }

    @include sm {
        width: 80%;
    }
}