/*-----------------------------------------------
Quatrième menu
-----------------------------------------------*/

.menu4 {
    background-color: #fdfffd;
    color: #000000;
    padding: 30px 20px 40px 20px;

    @include xl {
        width: 60%;
    }

    @include lg {
        width: 80%;
    }

    @include md {
        width: 100%;
        padding: 30px 0px 40px 0px;
    }

    // Nom du restaurant en dégradé
    h3 {
        font-weight: 500;
        font-size: 2.6em;
        background: linear-gradient(to right, $menu4-color1, $menu4-color2, $menu4-color3);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    h4 {
        font-weight: 400;
    }

    // Couleurs et soulignement de la section 'entrée' 
    &__entree {

        .underline {
            @include underline($menu4-color1);

            &:hover {
                @include underline-hover
            }
        }
    }

    // Couleurs et soulignement de la section 'plat'
    &__plat {

        .underline {
            @include underline($menu4-color2);

            &:hover {
                @include underline-hover
            }
        }
    }

    // Couleurs et soulignement de la section 'dessert'
    &__dessert {

        .underline {
            @include underline($menu4-color3);

            &:hover {
                @include underline-hover
            }
        }
    }
}

// Retrait par rapport à l'en-tête
.section-menu__contain {
    margin-left: 35px;
    margin-right: 35px;

    @include xl {
        margin-left: 10px;
        margin-right: 10px;
    }
}