// Couleurs générales du site
$theme-background: #579c87;
$theme-text: #fdcb46;

// Couleurs menu1
$menu1-color: #3d1319;

// Couleurs menu2
$menu2-color1: #c67412;
$menu2-color2: #a56799;
$menu2-color3: #6e4ccc;

// Couleurs menu3
$menu3-color1: #0228dd;
$menu3-color2: #0670f3;
$menu3-color3: #229df9;

//Couleurs menu4
$menu4-color1: #489b40;
$menu4-color2: #89d262;
$menu4-color3: #beff7f;

// Breakpoints
$breakpoints: (
    xLarge: 1120px,
    large: 750px,
    medium: 600px,
    small: 470px,
);