/*-----------------------------------------------
Structure générale des pages de menus
-----------------------------------------------*/

// Nom du restaurants
.restaurant-title {
    text-align: center;
    margin-top: 45px;
}

// Block menu de restaurant
.menu {
    width: 45%;
    margin: 20px auto 0px auto;
    box-shadow: 1px 1px 7px silver;

    @include md {
        box-shadow: none;
    }

    // En-tête de menu
    &__header {
        text-align: center;
    }
}

// Block entrée, plat ou dessert
.section-menu {
    margin-bottom: 50px;

    // En-tête de section
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        // Images décoratives autour du titre des sections
        .svg {
            width: 30%;

            @include sm {
                width: 25%;
            }
        }

        // Titre de section
        h4 {
            font-size: 1.1em;
        }
    }

    // Block contenant les plats et les prix
    &__contain {
        display: flex;
        justify-content: space-between;

        @include md {
            margin-left: 10px;
            margin-right: 10px;
        }

        @include sm {
            flex-direction: column;
            align-items: center;
        }

        // Description des plats 
        .description {
            font-size: 0.9em;
            line-height: 20px;

            @include sm {
                text-align: center;
            }
        }

        // Prix des plats 
        .prix {
            font-weight: 500;
            font-size: 1.1em;
            line-height: 13px;
        }
    }
}